body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

/* A4 EXACT SIZE */
.invoice-wrapper {
    width: 210mm;
    height: 297mm;          /* FIXED height instead of min-height */
    background: white;
    font-size: 13px;
    position: relative;
    
    /* line-height: 1.3; */
    box-sizing: border-box;
    overflow: hidden;       /* prevents content spill */
}

/* WATERMARK FIXED CENTER */
.watermark {
    position: absolute;
    top: 22%;
    left: 15%;
    width: 150mm;
    height: 150mm;
    opacity: 0.04;   
    z-index: 0;

}



/* HEADER */
.top-header {
    padding: 2rem;
    font-weight: bold;
    background-color: rgb(25, 172, 67);
}

.brand {
    font-size: 2rem;
    letter-spacing: 2px;
}
.gold{
    height: 0.5rem;
    background-color: gold;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0 15px 0;
    font-weight: bold;
}

/* SECTION */
.section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.left {
    padding-top: 1rem;
    width: 100%;
    padding-left: 3rem;
}

.exporter{
    font-size: 1.2rem;
}

.right {
    width: 35%;
    text-align: right;
}
.consignee{
    padding-left: 3rem;
    padding-top: 1rem;
}
.consignee_heading{
    font-size: 1.2rem;
}
/* TABLE */
.invoice-table {

    margin: auto;
    width: 90%;
    border-collapse: collapse;
    margin-top: 8px;
}

.invoice-table th,
.invoice-table td {
    border: 1px solid #000;
    padding: 5px;
    font-size: 11px;
}

.invoice-table th {
    font-weight: bold;
}

.table_dark{
    background-color: #25e34e;
}
/* TOTALS */
.totals {
    padding-left: 3rem;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    font-weight: bold;
}

/* DECLARATION */
.declaration {
    margin-top: 15px;
    font-size: 12px;
    padding-left: 3rem;
     padding-right: 3rem;
}

/* SIGNATURE */
.signature {
    position: absolute;
    bottom: 20mm;          /* FIXED to bottom */
    right: 15mm;    
    text-align: right;
    font-weight: bold;
}

/* PRINT SETTINGS */
@page {
    size: A4;
    margin: 0;
}

@media print {



    button {
        display: none;
    }

    .watermark {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
